#registry
{
float: left; 
background-color: #457c9d;
width: 100%;
height: 100%;
font-family: sans-serif;
font-variant: small-caps;
font-size: 20px;
font-style: oblique;
color: #0099cc;
line-height: 1.5;    
}

#border
{
    height: 375px;
    width: 97%;
    background-color: #becbd2;
    border-color: gray;
    border-width: 5px;
    border: outset;
    margin: 10px;
    margin-left: 12px;
}

#border3
{
    height: 740px;
    width: 97%;
    background-color: #becbd2;
    border-color: gray;
    border-width: 5px;
    border: outset;
    margin: 10px;
    margin-left: 12px;
}

#border4
{
    height: 850px;
    width: 97%;
    background-color: #becbd2;
    border-color: gray;
    border-width: 5px;
    border: outset;
    margin: 10px;
    margin-left: 12px;
}

#title 
{
margin-top: 50px;
margin-left: 15%;
float: left;
width: 225px;
height: 65%;
border-left: 2px solid black;
padding-left: 5px;  
    
} 

#title3 
{
margin-top: 50px;
margin-left: 15%;
float: left;
width: 100px;
height: 88%;
border-left: 2px solid black;
padding-left: 5px;  
  line-height: 4.5;  
} 

#title4 
{
margin-top: 50px;
margin-left: 15%;
float: left;
width: 500px;
height: 88%;
border-left: 2px solid black;
padding-left: 5px;  
  line-height: 2;  
  font-size: 18px;
}

#table
{
    width: 100%;
    
}


#field
{
margin: 50px;
height: 65%;
float: left;
width: 200px;
border-left: 2px solid black;
padding-left: 5px;

}

#field3
{
margin: 50px;
height: 88%;
float: left;
width: 200px;
border-left: 2px solid black;
padding-left: 5px;

}


#cell

{
    height: 20px;
    width: 200px;
    float: left;
}

#cell1
{
  height: 20px;
    width: 30px;
    float: left;
      
}
#cell2

{
    height: 20px;
    width: 160px;
    float: left;
}

#cell3
{
    height: 40px;
    width: 200px;
}

#button
{
 margin-top: 50px;
 margin-left: 150px;
float: left;
width: 50px;
height: 65%;
border-left: 2px solid black;
padding-left: 5px;
}

#button3
{
 margin-top: 50px;
 margin-left: 150px;
float: left;
width: 50px;
height: 88%;
border-left: 2px solid black;
padding-left: 5px;
}



#next {
    padding-left: 10px;
    border: 2px solid #e34761; /* Параметры рамки */
    background: #67afda; /* Цвет фона */
    font-size: 50px; /* Размер текста */
    height: 100%;
    weight: 100%;
 }
 
   
   #mistakes
   {
  font-family: monospace;
  font-size: 15px;
  color: red;
  margin-top: 50px;
 padding-left: 50px;
float: left;
width: 80px;
height: 65%;
   }

#captcha 
{
width: 100mm;
height: 100%;
float: right;
background-color: whitesmoke;
}
