#wall
{
width: 100%;
height: 100%;
background: #457c9d;
 

}

#post
{
 background: red;   
}

#wall1
{
width: 100%;
min-height: 100px;
background: white;
float: left;
opacity: .3;
}

#wall2
{
width: 100%;
min-height: 300px;
background: red;
float: left;

}

